html,
body {
    width: 100%;
    height: 100%;
}

#game {
    height: 100%;
    background-color: black;
}

#header > button {
    margin-top: 20px;
    font-size: 20px;
    width: 120px;
    height: 50px;
}

#header > p {
    font-size: 70px;
    color: white;
}

#header > span {
    color: white;
    font-size: 20px;
}

#body {
    display: flex;
    justify-content: center;
    margin-top: 7%;
}

#body > p {
    color: black;
    font-size: 100px;
    display: inline-block;
    width: 150px;
    line-height: 150px;

    background-color: aliceblue;
}

#footer {
    display: flex;
    justify-content: space-around;
    margin-top: 7%;
}

#getInput {
    display: inline-block;
    width: 150px;
    /* border: 1px solid white; */
}

#input {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
    background-color: black;
    font-size: 20px;
    width: 100px;
    height: 40px;
    margin-bottom: 20px;
    color: white;
}

#getInput > button {
    width: 150px;
    height: 40px;
    font-size: 20px;
}

#result {
    display: inline-block;
    width: 400px;
    /* border: 1px solid white; */
    color: white;
}

#result > h3 {
    margin-bottom: 25px;
}

#result > p {
    font-size: 20px;
}
